body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: antiquewhite;
  margin: 0;
}

h1 {
  font-family: "Courier New", monospace;
}

.index-header {
  font-size: 4em;
  font-weight: 900;
  background-color: bisque;
  margin: 0;
  padding: 64px 32px;
}

.recipe-list {
  background-color: #eadbc7;
  list-style-type: none;
  border-left: 10px solid orange;
  padding: 32px;
}

.recipe-list li {
  font-family: Garamond, serif;
  font-size: 2em;
  margin-bottom: 15px;
}

.recipe-header {
  text-align: center;
}

.recipe-header > h1 {
  background-color: wheat;
  font-size: 2.5em;
  padding: 16px;
}

h2, p, ul, ol {
  margin-left: 32px;
}

h2 {
  margin-top: 3em;
}

h2 + ul, h2 + ol {
  color: #00000080;
}

.home {
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  text-align: center;
  margin: 32px;
}